# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# ENV files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.production
.usuarios_iniciales.lock
.phpunit.result.cache
phpDocumentor.phar
composer
.phpdoc
openapi
openapi.bat
php-parse
php-parse.bat
yaml-lint
yaml-lint.bat
phpdoc-parser
phpunit
code-unit
swagger.php
/vendor/
backend/vendor/
vendor/