RewriteEngine On

# Evitar reescritura de archivos reales
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Manejar rutas de Angular (SPA)
RewriteRule ^ index.html [L]