.env
.env.production
.usuarios_iniciales.lock
.phpunit.result.cache
phpDocumentor.phar
composer
.phpdoc
openapi
openapi.bat
php-parse
php-parse.bat
yaml-lint
yaml-lint.bat
phpdoc-parser
phpunit
code-unit
swagger.php
/vendor/