<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>./Unit</directory>
    </testsuite>
      <testsuite name="Integration Tests">
      <directory>./Integration</directory>
    </testsuite>
  </testsuites>
</phpunit>
