<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"         
         bootstrap="bootstrap.php"
         colors="true"
         stopOnFailure="false"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="Domain">
            <directory>Domain</directory>
        </testsuite>
        <testsuite name="Application">
            <directory>Application</directory>
        </testsuite>
        <testsuite name="Infrastructure">
            <directory>Infrastructure</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>Integration</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>Functional</directory>
        </testsuite>
    </testsuites>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_NAME_TEST" value="test_bd_recrea_sys"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value=""/>
    </php>
    
    <source>
        <include>
            <directory suffix=".php">Domain</directory>
            <directory suffix=".php">Application</directory>
            <directory suffix=".php">Infrastructure</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="coverage"/>
            <text outputFile="coverage.txt"/>
        </report>
    </coverage>
</phpunit>