<div class="tabla-generica-container">
  <div class="toolbar" *ngIf="showToolbar"><div class="toolbar-left"><ng-content select="[toolbar-left]"></ng-content></div><div class="toolbar-right"><ng-content select="[toolbar-right]"></ng-content></div></div>
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort [matSortActive]="sortActive" [matSortDirection]="sortDirection" (matSortChange)="onSortChange($event)">
      <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
        <th mat-header-cell *matHeaderCellDef [style.width]="col.width" mat-sort-header *ngIf="col.sortable !== false">{{ col.header }}</th>
        <th mat-header-cell *matHeaderCellDef [style.width]="col.width" *ngIf="col.sortable === false">{{ col.header }}</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="col.type === 'text' || !col.type">{{ row[col.key] }}</ng-container>
          <ng-container *ngIf="col.type === 'number'">{{ row[col.key] | number }}</ng-container>
          <ng-container *ngIf="col.type === 'date'">{{ row[col.key] | date: (col.format || 'dd/MM/yyyy HH:mm') }}</ng-container>
          <ng-container *ngIf="col.type === 'currency'">{{ row[col.key] | currency: 'USD':'symbol':'1.2-2' }}</ng-container>
          <ng-container *ngIf="col.type === 'badge'"><span class="badge" [ngClass]="col.badgeClass ? col.badgeClass(row[col.key]) : ''">{{ col.badgeText ? col.badgeText(row[col.key]) : row[col.key] }}</span></ng-container>
          <ng-container *ngIf="col.type === 'actions'"><div class="actions-cell"><ng-container *ngIf="!useActionsMenu"><button mat-icon-button *ngFor="let action of actions" [matTooltip]="action.label" [color]="action.color" (click)="onActionClick(action.key, row)" [disabled]="action.disabled ? action.disabled(row) : false" *ngIf="!action.hidden || !action.hidden(row)"><mat-icon>{{ action.icon }}</mat-icon></button></ng-container><ng-container *ngIf="useActionsMenu"><button mat-icon-button [matMenuTriggerFor]="actionsMenu" [disabled]="getVisibleActions(row).length === 0"><mat-icon>more_vert</mat-icon></button><mat-menu #actionsMenu="matMenu"><button mat-menu-item *ngFor="let action of getVisibleActions(row)" (click)="onActionClick(action.key, row)"><mat-icon [color]="action.color">{{ action.icon }}</mat-icon><span>{{ action.label }}</span></button></mat-menu></ng-container></div></ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.clickable]="rowClickable" (click)="onRowClick(row)"></tr>
      <tr class="mat-row" *matNoDataRow><td class="mat-cell" [attr.colspan]="displayedColumns.length"><div class="no-data"><mat-icon>info</mat-icon><p>{{ emptyMessage }}</p></div></td></tr>
    </table>
  </div>
  <mat-paginator *ngIf="showPagination" [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
</div>